<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 align="center">Welcome, <%= @user.first_name %></h1>
    <p>
      Thanks for signing up to Live It Up Social!<br>
      Add a new activity, get behind existing ideas, and get excited that you're now a part of the best active/social group in SF!
    </p>

    <p>Thanks for joining and have a great day! See you this weekend!</p>
  </body>
</html>