<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style type="text/css">
  body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
  .divider { background-color:#555555; height:2px; }
  .episode h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
  .episode p { margin:8px 0; }
  #footer { font-size:11px; color:#555555; }
  #footer a { color:#555555;}
  </style>
  </head>
  <body>
    <table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
    <tr><td align="center" valign="top">
      <table width="650" id="main" border="0" cellpadding="0" cellspacing="20">
        <tr>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr class="episode">
          <td valign="top">
      <h2>Good morning!</h2>
      <p>
      Hope you had fun this weekend! Here's the link to see the pics and re-live our event!<br>
      <!-- ADD LINK FOR PRESENTATION -->
      </p>
      <p>
      See you next weekend!
      </p>
      </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr>
          <td id="footer" colspan="2" align="center">
            <p>&copy;2014 Live It Up Social</p>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
  </body>
</html>