<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 align="center">Good morning!</h1>
    <p>
      Did you have fun this weekend? Here's the link to see the pics and re-live our event!<br>
      <!-- ADD LINK FOR PRESENTATION -->
    </p>
    <p>
      See you next weekend!
    </p>
  </body>
</html>