@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.text-center{
  text-align:center;  
}

.center{
  margin: 0px auto;
}

.activities-userProfileWrapepr{
  border: 2px solid #eee;
  float: left;
  display: inline-block;
  width:300px;
  height:200px;
  background: url('mnt-river.jpg') no-repeat;
  @include border-radius(5px);
  & img{
  position: relative;
  top: 60px;
  left: 13px; 
  @include border-radius(5px);

  }
  & .activities-createNewActivity{
    position: relative;
    top: 90px;
  }
  & .activities-userProfileAttsWrapper{
    position: relative;
    top: 60px;
    left: 20px;
  }
}

.activities-listWrapper{
  float: left;
  display: inline-block;
  width: 61%;
  height: 100%;
  margin: 2px 0 0 20px;
  border: 2px solid #eee;
  @include border-radius(5px);
  & h1 {
  color: #66757f;
  font-size: 22px;
  font-weight: 300;
  line-height: 22px;
  float:left;
  margin: 10px 0 10px 30px;
  }
  & li {
    padding: 15px 0 5px 75px;
    font-size: 24px;
    height:0px;
    border-top: 1px solid #e1e8ed;
  }
 }

 .activities-voteUpButton{
  border: none;
  background: transparent;
  position: relative;
  top: 58px;
  left: 14px;
 }



