.activity_view_bckgrd{
  padding-top: 50px;
  margin: 0;
  background-image: url('gg_bridge.jpg') 0px 0px no-repeat;
  width: 100%;
  height: 300px;
  background-size:cover;
  background-repeat: none;
  z-index: 50;
}

.activity-view-userProfilePhoto{
  margin-top: 50px;
  margin-left: 50px;
  border: 3px white solid;
  background-image: url('prof-pic.jpeg') 0px 0px no-repeat;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 10em;
  height: 10em;
  border-radius:10px;
}

.activity-view-all-info{
    margin-left: auto;
    padding-left: 30%;
    padding-right: 15%;
    margin-right: auto;
     width: 100%;
     border: 3px black solid;
}
