@import "global";

.form-wrapper{
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 4px 4px 4px 4px;
  margin: 50px auto;
  padding: 0 0 5px 0;
  width: 50%;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-sign-in-wrapper{
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 4px 4px 4px 4px;
  margin: 50px auto;
  padding: 0 17px;
  width: 35%;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-top-header{
 width: 100%;
 padding: 25px 0px;
 margin-bottom: 25px;
 border-bottom: 1px solid #d6d6d6;
 border-radius: 5px 5px 0px 0px;
 text-align: center;
 color: $brand-color;
 & h3{
 font-weight: 200;
 }
}

.sign-in-form {
  padding: 0 17px;
& li {
  overflow: hidden;
  border-bottom: 0px solid #fff !important;
  padding: 0 !important;
 }
& .form-input{
  width: 100% !important;
 }
& .form-submit{
  position: relative;
  margin: 15px auto !important;
  min-width: 90px;
  float:none !important;
 } 
}

.form{
  width:100%;
  overflow: hidden;
 & li:first-child{
  padding-top: 15px;
 }
 & li:last-child{
  border-bottom:none;
 }
 & li {
  overflow: hidden;
  border-bottom: 1px solid #dfdfdf;
  padding: 5px 21px 11px 27px;
 }
 & .form-header{
  font-size: 22px;
  font-weight: 200 !important;
  color: $brand-color;
 }
  & .form-label{
  margin: 1.3em 6em 0 0;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 13px;
  font-weight: bold;
  width: 10em;
  float: left;
  text-align: left;
 }
 & .form-label-dropdown{
  margin: .9em 6em 0 0;
 }
 & .form-input{
  position: relative;
  top: 10px;
  width: 60%;
  float: left;
  margin-bottom:15px;
 }
 & .form-input-half-first{
  position: relative;
  top: 10px;
  width: 28%;
  float: left;
  margin: 0 10px 15px 0;
 }
 & .form-input-half-second{
  position: relative;
  top: 10px;
  width: 30%;
  float: left;
  margin-bottom:15px;
 }
 & .form-input-photo{
  height:90px;
 }
 & .form-submit{
  position: relative;
  float: right;
  margin: 10px 0 0 0;
 }
}

.division {
  display: inline-block;
  margin: 17px 0 23px;
  position: relative;
  text-align: center;
  width: 100%;
  & hr {
  border-width: 1px;
  color:#181818;
  border-top: 1px solid #999 !important;
  border-bottom: 1px solid #eee !important;
  margin: 0;
  position: absolute;
  width: 40%;
  }
  & .left {
    top: 13px;
  }
  & .right {
    bottom: 5px;
    right: 0;
    float: right;
 }
}

.need-sign-up{
  color:#314a7b;
  &:hover{
  color:#314a7b;
  }
}