.homepage_title{
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 2px 2px 10px black;
  font-weight: bold;
  color:white;
  text-align: center;
  font-size: 50px;
  opacity: .8;
}

.homepage_text{
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 10px black;
  text-align: center;
  color:white;
  font-size: 30px;
  opacity: .8;
}

.countdown-home{
  margin-top: 18%;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 2px 2px 10px black;
  text-align: center;
  line-height: 1;
  padding: 0;
  color: #fff;
  opacity: .8;
  letter-spacing: -5px;
  font-size: 140px;
}
#homepage_body {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: none;
  z-index: 50;
  height: 900px;
  margin-bottom: 5%;
  background-position: center center;
}

.homepage-margin-side {
  margin-left: 40px;
}

.homepage-collage {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

.homepage-collage:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.homepage-info {
  width: 1015px;
  margin: auto;
}

.thumbnail {
  min-height: 140px;
}

module.content {
  padding: 40px 0;
}

.sessions-loginModalDialog {
  margin-top: 60px !important;
}

.sessions-loginModalContent {
  padding: 0px 0 1% 0;
}







