.main-container{
  padding-top:70px;
}

.main-countdown-header{
  position:relative;
  top: 220px;
  color: black;
  opacity: .6;
& .main-countdown-header h1{  
  font-size: 80px;
 }
}

.navbar{
box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.2);
}

.zero{
  margin: 0 !important;
  padding: 0 !important;
}