.sessions-loginModalDialog{
width: 28% !important;
}

.sessions-loginModalContent{
  padding: 0 4% !important;
}

.sessions-loginModalHeader{
  font-size: 16px !important;
  color: #6a6a6a !important;
  margin-bottom:20px;
  font-weight:200;
  padding: 11px 0 !important;
}

.sessions-loginModalFooter{
  font-size: 15px !important;
  color: #6a6a6a !important;
  text-align:center!important;
  float: none !important;
  border-top: 1px solid #e5e5e5;
  font-weight:200;
  padding: 4px 0 4px 0 !important;
}