<!-- Modal -->
<div class="modal fade" id="addActivityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog activities-addActivityModalDialog">
    <div class="modal-content activities-addActivityModalContent">
      <div class="modal-body zero">
        <%= render 'activity_modal_form' %>
      </div>
    </div>
  </div>
</div>