<div class="container">

<div class="activities-userProfileWrapepr">
<div class="activities-userProfilePhoto" >
  <%= link_to image_tag("prof-pic.jpeg",), activities_path   %> 
</div>
</div>

  <br>
   <h2><%= link_to 'Create New Activity', new_activity_path %></h2>
  <h1>Activities</h1>
  <ul class="list-unstyled">
    <% @activities.each do |activity| %>
      <li><%= link_to activity.title, activity %></li>
    <%end%>
  </ul>
</div>



