<!-- rm unused stuff.... -->
 <!-- <h4>"<%= current_user.motto%>"</h4>
      <h4> My Votes </h4>
      <% current_user.activities.each_with_index do |activity,index| %>
        <p><%= index+1 %>. <%= activity.title %></p>
      <% end %> -->
      <!--   <%= link_to 'Create New Activity', new_activity_path, :class => "btn btn-primary activities-createNewActivity" %>
 -->
