Votes live here
<h1>Creating Vote</h1>
<% user, activity = 1, 1%>
<%= form_for :vote, url: votes_path do |f| %>
  </p>
    <%= f.hidden_field :user, :value => user %>
    <%= f.hidden_field :activity, :value => activity %>
  <p>
    <%= f.submit %>
<% end %>




